@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 800px) and (max-width: 1024px) {
	.wrapper{
		width:700px;
		margin:0 auto;
	}
	
	#banner{
 		font-size:90px;
		height:500px;
		/* -moz-transition: all .5s linear;
		 -webkit-transition: all .5s linear;
		 transition: all .5s linear;*/
	}
	
	
}




@media only screen and (min-width: 420px) and (max-width: 799px) {
	.wrapper{
		margin:0 auto;
		width:100%;
		border:none !important;
	}
	
	#banner{
 		font-size:70px;
		height:400px;
	}
	
}





@media only screen and (max-width: 419px) {
	.wrapper{
		margin:0 auto;
		width:100%;
		overflow:hidden;
		border:none !important;
	}
	
	#banner{
 		font-size:60px;
		height:200px;
		background-position:center;
	}
	
	
	header nav {
		clear:both;
		float:none;
	}
	
	header nav li{
		float:none;
	}
	
}


@media(-webkit-min-device-pixel-ratio: 2) {
	
}


