@charset "utf-8";
/* CSS Document */



body{
	font-family:Arial, Helvetica, sans-serif;
}

*{
	font-family:Arial, Helvetica, sans-serif;
}


body, button, input, select, textarea
{ }








/* !Header ***********************************************************************/


	header{
		width:100%;
		min-height:60px;
		background-color:#fff;
	}
	
	header #logo{
		
	}
	
	
	header nav {
	}
	
		header nav li{
			float:left;
			list-style:none;
		}
	
		header nav li a{
			margin-left:10px;
		}
	


/* /Header *******************************************/








/* Contents *******************************************/





	/* Home **************************/
	
		#banner{
			width:100%;
			background:url(../img/_bg.jpg) no-repeat center;
			/*background-size:contain !important;*/
			background-size: cover;
			background-color:#036;
			height:650px;
			color:#fff;
			font-size:120px;
			

		}
			
		
		#features {
			margin-top:40px;
		}
		
			#features li{
				margin-top:10px;
			}
			
			#features .destaque{
				float:left;
				width:330px;
			}
	
	/* /Home **************************/
	
	
	


/* /Contents *******************************************/






/* Footer *******************************************/

footer{
	width:100%;
	height:40px;
	clear:both;
	padding-top:50px;
	margin-top:50px;
}


/* /Footer *******************************************/



/* MEDIAs ***********************************************************/





::selection {
	background: #000; /* WebKit */
	color:#fff;
}
::-moz-selection {
	background: #000; /* Firefox */
	color:#fff;
}


