@import url('normalize.css');
@charset "utf-8";
/* CSS Document */
/* !MIXINS LESS CONFIGURATION*/
/* !Resets **/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* !Border **/
/* !Fonts **/
/* !END: MIXINS LESS CONFIGURATION*/
/* !COMMONS*/
/* Buttons */
.btn {
  color: #333333;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover {
  background: #efefef;
  color: #666;
}
.btn:active {
  background: #e3e3e3;
  color: #666;
}
/* Transition */
.transition {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
/* Wrapper */
.wrapper {
  width: 990px;
  margin: 0 auto;
  position: relative;
  height: auto;
}
/* Others */
.clr {
  clear: both !important;
}
.noFloat {
  float: none !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.txtLeft {
  text-align: left !important;
}
.txtRight {
  text-align: right !important;
}
.dragging {
  cursor: url(../img/framework/grabbing.png), move !important;
}
.pointer {
  cursor: pointer;
}
/* !END: COMMONS*/
/* !STRUCTURE CONFIGURATION **/
/* !Forms */
input:focus,
textarea:focus,
select:focus {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.form {
  margin: 20px auto;
  font-size: 14px;
}
.form fieldset {
  padding: 20px;
  border: none;
}
.form legend {
  font-size: 18px;
}
.form input,
.form textarea,
.form select {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #666;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  min-height: 30px;
  display: block;
  margin-bottom: 15px;
  margin-top: 0px;
  outline: none;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form select {
  padding-right: 0px;
}
.form input:focus,
.form textarea:focus,
.form select:focus {
  border: 1px solid #EFC158;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
.form input[type='radio'],
.form input[type='checkbox'] {
  width: auto;
  display: inline;
  height: 13px;
}
.form input[type='color'] {
  width: 30px;
  height: 30px;
}
.form input[type=submit] {
  padding: 10px;
}
.form label {
  width: 100%;
  display: block;
  clear: both;
  font-weight: bold;
  margin-top: 5px;
}
.form fieldset .radio {
  margin-bottom: 15px;
  display: block;
  min-height: 13px;
}
.form fieldset .radio label {
  width: 100%;
  display: inline;
  padding-right: 10px;
  font-size: 12px;
}
.form fieldset .radio span {
  float: left;
  display: block;
  margin-right: 10px;
  margin-top: 5px;
}
.form fieldset .radio input {
  min-height: 0px;
  margin-right: 2px;
  float: left;
  display: block;
  margin-top: 5px;
}
.form fieldset .radio label {
  float: left;
  display: block;
  width: auto;
  clear: none;
  font-weight: normal;
  margin: 0px;
  min-height: 10px;
  height: 20px;
}
.form input.error {
  border: 1px solid #C30 !important;
}
.form label.error {
  color: #C30;
  font-size: 11px;
  margin-top: -10px;
  clear: both;
}
/* Form Horizontal */
.form-horizontal {
  width: 100%;
}
.form-horizontal label.error {
  border: 1px solid #C30 !important;
  color: #C30;
  font-size: 11px;
  margin-top: -27px;
}
.form-horizontal input,
.form-horizontal label,
.form-horizontal meter,
.form-horizontal color,
.form-horizontal select,
.form-horizontal textarea {
  float: left !important;
}
.form-horizontal label {
  width: 200px;
  text-align: right;
  margin-right: 10px;
  clear: both;
}
.form-horizontal button {
  float: left;
}
.base-framework-form {
  width: 572px;
}
@media only screen and (min-width: 0px) and (max-width: 799px) {
  .form-horizontal {
    width: 100%;
  }
  .form-horizontal input,
  .form-horizontal label,
  .form-horizontal meter,
  .form-horizontal color {
    float: none !important;
  }
  .form-horizontal label {
    width: 100%;
    display: block;
    clear: both;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
  }
  fieldset .radio input,
  fieldset .radio label {
    float: left !important;
  }
}
/* !Tables */
.table {
  border: 1px solid #bbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-color: #bbb;
  border-right: 1px solid #bbb !important;
  /*Caption*/
  /* Cor Linha par */
  /* Cor Linha impar */
  /*Thead, Títulos das colunas */
  /*Bordas */
  /*Padding Padrão */
}
.table thead tr th,
.table tfoot tr th {
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-bottom: none;
}
.table td {
  font-size: 14px;
  /*border-top:1px solid #bbb;*/
  border-right: 1px solid #bbb;
}
.table thead th {
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
.table thead th:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
.table thead th:last-child {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
.table tfoot th {
  background-color: #efefef;
  padding: 4px;
  font-size: 1px;
  color: #666;
  border-right: 1px solid #bbb !important;
  border-top: none !important;
}
.table tfoot th:first-child {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
}
.table tfoot th:last-child {
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
}
.table tr td:last-child,
.table tr th:last-child {
  border: none !important;
}
.table .table-ordenada thead tr .header {
  background-image: url(../img/framework/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
.table .table-ordenada thead tr .header {
  background-image: url(../img/framework/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
.table .table-ordenada tbody td {
  color: #3D3D3D;
  padding: 8px;
  vertical-align: top;
}
.table .table-ordenada thead tr .headerSortUp {
  background-image: url(../img/framework/asc.gif);
}
.table .table-ordenada thead tr .headerSortDown {
  background-image: url(../img/framework/desc.gif);
}
.table .table-ordenada thead tr .headerSortDown,
.table .table.table-ordenada thead tr .headerSortUp {
  background-color: #fff;
  color: #000;
}
.table caption {
  text-align: left;
  font-size: 14px;
}
.table tr:nth-child(even) td,
.table td {
  background: #F2F2F2;
}
.table tr:nth-child(odd) td {
  background: #fff;
}
.table thead th {
  background-color: #efefef;
}
.table tfoot th {
  background-color: #efefef;
}
.table td,
.table thead th {
  border-color: #bbb;
  border-right: 1px solid #bbb !important;
}
.table td,
.table th {
  padding: 8px;
}
.table-container {
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}
.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
/* !END:STRUCTURE CONFIGURATION **/
::selection {
  background: #000;
  /* WebKit */
  color: #fff;
}
::-moz-selection {
  background: #000;
  /* Firefox */
  color: #fff;
}
